## w205 Project 2
### Jacob Sycoff
#### Due: 10/29/2020

## Starter Code:

In [87]:
import json
import pprint

In [88]:
p = pprint.PrettyPrinter(indent=1)

In [89]:
f = open("assessment-attempts-20180128-121051-nested.json","r")

In [90]:
s = f.read()

In [91]:
assessments= json.loads(s)

In [92]:
f.close()

In [93]:
len(assessments)

3280

In [94]:
# this will pretty print the json in alphabetic order which may or may not match the file order
p.pprint(assessments[2])

{'base_exam_id': '4beeac16-bb83-4d58-83e4-26cdc38f0481',
 'certification': 'false',
 'exam_name': 'The Principles of Microservices',
 'keen_created_at': '1516738973.653394',
 'keen_id': '5a67999d3ed3e300016ef0f1',
 'keen_timestamp': '1516738973.653394',
 'max_attempts': '1.0',
 'sequences': {'attempt': 1,
               'counts': {'all_correct': False,
                          'correct': 3,
                          'incomplete': 0,
                          'incorrect': 1,
                          'submitted': 4,
                          'total': 4,
                          'unanswered': 0},
               'id': 'b370a3aa-bf9e-4c10-848a-8ecacbd1d93e',
               'questions': [{'id': 'b9ff2e88-cf9d-4bd4-bcea-c2673779425c',
                              'options': [{'at': '2018-01-23T20:22:39.089Z',
                                           'checked': True,
                                           'id': 'c315723f-4753-4f8f-932e-d9d7085fed28',
                                           'submitted': 1},
                                          {'at': '2018-01-23T20:22:27.250Z',
                                           'checked': True,
                                           'correct': True,
                                           'id': 'f298bc63-9075-45bc-8b95-9c8c979bf779',
                                           'submitted': 1},
                                          {'checked': False,
                                           'correct': True,
                                           'id': '302fa72e-3949-46a1-9dd9-668fac9c1fc1'}],
                              'user_correct': False,
                              'user_incomplete': False,
                              'user_result': 'incorrect',
                              'user_submitted': True},
                             {'id': 'bec23e7b-4870-49f7-92c1-1e0a016ef7c9',
                              'options': [{'at': '2018-01-23T20:22:41.102Z',
                                           'checked': True,
                                           'correct': True,
                                           'id': '60b45b0b-f20c-42eb-8b26-61ef690fd1ba',
                                           'submitted': 1},
                                          {'checked': False,
                                           'id': 'a5a583b6-9c3a-4147-afbb-d6fbfc516c85'},
                                          {'at': '2018-01-23T20:22:42.988Z',
                                           'checked': True,
                                           'correct': True,
                                           'id': 'a3e31a57-6407-40f1-9808-c7f2ed8e7f95',
                                           'submitted': 1},
                                          {'at': '2018-01-23T20:22:44.447Z',
                                           'checked': True,
                                           'correct': True,
                                           'id': 'aae4e562-49bf-46ca-808a-5300ac4b08d1',
                                           'submitted': 1}],
                              'user_correct': True,
                              'user_incomplete': False,
                              'user_result': 'correct',
                              'user_submitted': True},
                             {'id': '1ba75b31-64a4-4bd3-9646-25aa3b73505f',
                              'options': [{'checked': False,
                                           'id': 'ac290741-c86c-491a-9872-72213e947a70'},
                                          {'at': '2018-01-23T20:22:46.048Z',
                                           'checked': True,
                                           'correct': True,
                                           'id': 'a9d65a6d-0fdf-4518-b1a0-900d9248f123',
                                           'submitted': 1}],
                              'user_correct': True,
                              'user_incomplete': False,
                              'user_result': 'correct',
                              'user_submitted': True},
                             {'id': '1f7c5def-904b-4834-8519-639a3b22a496',
                              'options': [{'checked': False,
                                           'id': 'cb8e8ecb-5a24-4712-ae46-81bc5b858c3b'},
                                          {'checked': False,
                                           'id': '429b03ec-bda9-4d4a-bd7f-e2d208cbb5fc'},
                                          {'at': '2018-01-23T20:22:50.811Z',
                                           'checked': True,
                                           'correct': True,
                                           'id': '1cdc931d-dbfb-4aea-bcb8-57be503bb649',
                                           'submitted': 1},
                                          {'at': '2018-01-23T20:22:52.423Z',
                                           'checked': True,
                                           'correct': True,
                                           'id': '088b406e-1fa6-419f-8193-d41c29ee4d57',
                                           'submitted': 1}],
                              'user_correct': True,
                              'user_incomplete': False,
                              'user_result': 'correct',
                              'user_submitted': True}]},
 'started_at': '2018-01-23T20:22:22.584Z',
 'user_exam_id': '8edbc8a8-4d26-4292-a5af-ae3f246cb09f'}

In [95]:
def recursive_walk_json_object(j, level):
    """recursively walk through a json object to explore the structure
       dictionaries will be put in alphabetic order to match the pretty print above"""
    
    level += 1
    
    if type(j) is dict:
        dict_2_list = list(j.keys())
        dict_2_list.sort()
        for k in dict_2_list:
            print("   " * level + "L" + str(level), k)
            recursive_walk_json_object(j[k], level)
    
    elif type(j) is list:
        for (i, l) in enumerate(j):
            print("  " * level + "  [" + str(i) + "]")
            recursive_walk_json_object(l, level)
            
    else:
        print("   " * level + " value:", j)

In [96]:
recursive_walk_json_object(assessments[0], -1)

L0 base_exam_id
    value: 37f0a30a-7464-11e6-aa92-a8667f27e5dc
L0 certification
    value: false
L0 exam_name
    value: Normal Forms and All That Jazz Master Class
L0 keen_created_at
    value: 1516717442.735266
L0 keen_id
    value: 5a6745820eb8ab00016be1f1
L0 keen_timestamp
    value: 1516717442.735266
L0 max_attempts
    value: 1.0
L0 sequences
   L1 attempt
       value: 1
   L1 counts
      L2 all_correct
          value: False
      L2 correct
          value: 2
      L2 incomplete
          value: 1
      L2 incorrect
          value: 1
      L2 submitted
          value: 4
      L2 total
          value: 4
      L2 unanswered
          value: 0
   L1 id
       value: 5b28a462-7a3b-42e0-b508-09f3906d1703
   L1 questions
      [0]
         L3 id
             value: 7a2ed6d3-f492-49b3-b8aa-d080a8aad986
         L3 options
          [0]
               L5 at
                   value: 2018-01-23T14:23:24.670Z
               L5 checked
                   value: True
               L5 correct
                   value: True
               L5 id
                   value: 49c574b4-5c82-4ffd-9bd1-c3358faf850d
               L5 submitted
                   value: 1
          [1]
               L5 at
                   value: 2018-01-23T14:23:25.914Z
               L5 checked
                   value: True
               L5 correct
                   value: True
               L5 id
                   value: f2528210-35c3-4320-acf3-9056567ea19f
               L5 submitted
                   value: 1
          [2]
               L5 checked
                   value: False
               L5 correct
                   value: True
               L5 id
                   value: d1bf026f-554f-4543-bdd2-54dcf105b826
         L3 user_correct
             value: False
         L3 user_incomplete
             value: True
         L3 user_result
             value: missed_some
         L3 user_submitted
             value: True
      [1]
         L3 id
             value: bbed4358-999d-4462-9596-bad5173a6ecb
         L3 options
          [0]
               L5 at
                   value: 2018-01-23T14:23:30.116Z
               L5 checked
                   value: True
               L5 id
                   value: a35d0e80-8c49-415d-b8cb-c21a02627e2b
               L5 submitted
                   value: 1
          [1]
               L5 checked
                   value: False
               L5 correct
                   value: True
               L5 id
                   value: bccd6e2e-2cef-4c72-8bfa-317db0ac48bb
          [2]
               L5 at
                   value: 2018-01-23T14:23:41.791Z
               L5 checked
                   value: True
               L5 correct
                   value: True
               L5 id
                   value: 7e0b639a-2ef8-4604-b7eb-5018bd81a91b
               L5 submitted
                   value: 1
         L3 user_correct
             value: False
         L3 user_incomplete
             value: False
         L3 user_result
             value: incorrect
         L3 user_submitted
             value: True
      [2]
         L3 id
             value: e6ad8644-96b1-4617-b37b-a263dded202c
         L3 options
          [0]
               L5 at
                   value: 2018-01-23T14:23:52.510Z
               L5 checked
                   value: False
               L5 id
                   value: a9333679-de9d-41ff-bb3d-b239d6b95732
          [1]
               L5 checked
                   value: False
               L5 id
                   value: 85795acc-b4b1-4510-bd6e-41648a3553c9
          [2]
               L5 at
                   value: 2018-01-23T14:23:54.223Z
               L5 checked
                   value: True
               L5 correct
                   value: True
               L5 id
                   value: c185ecdb-48fb-4edb-ae4e-0204ac7a0909
               L5 submitted
                   value: 1
          [3]
               L5 at
                   value: 2018-01-23T14:23:53.862Z
               L5 checked
                   value: True
               L5 correct
                   value: True
               L5 id
                   value: 77a66c83-d001-45cd-9a5a-6bba8eb7389e
               L5 submitted
                   value: 1
         L3 user_correct
             value: True
         L3 user_incomplete
             value: False
         L3 user_result
             value: correct
         L3 user_submitted
             value: True
      [3]
         L3 id
             value: 95194331-ac43-454e-83de-ea8913067055
         L3 options
          [0]
               L5 checked
                   value: False
               L5 id
                   value: 59b9fc4b-f239-4850-b1f9-912d1fd3ca13
          [1]
               L5 checked
                   value: False
               L5 id
                   value: 2c29e8e8-d4a8-406e-9cdf-de28ec5890fe
          [2]
               L5 checked
                   value: False
               L5 id
                   value: 62feee6e-9b76-4123-bd9e-c0b35126b1f1
          [3]
               L5 at
                   value: 2018-01-23T14:24:00.807Z
               L5 checked
                   value: True
               L5 correct
                   value: True
               L5 id
                   value: 7f13df9c-fcbe-4424-914f-2206f106765c
               L5 submitted
                   value: 1
         L3 user_correct
             value: True
         L3 user_incomplete
             value: False
         L3 user_result
             value: correct
         L3 user_submitted
             value: True
L0 started_at
    value: 2018-01-23T14:23:19.082Z
L0 user_exam_id
    value: 6d4089e4-bde5-4a22-b65f-18bce9ab79c8

In [97]:
raw_assessments = spark.read.format("kafka").option("kafka.bootstrap.servers", "kafka:29092").option("subscribe","assessments").option("startingOffsets", "earliest").option("endingOffsets", "latest").load()

In [98]:
raw_assessments.cache()

DataFrame[key: binary, value: binary, topic: string, partition: int, offset: bigint, timestamp: timestamp, timestampType: int]

In [99]:
assessments = raw_assessments.select(raw_assessments.value.cast('string'))

In [100]:
#i added this cell
print(spark.catalog.listTables())

[Table(name='assessments', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='ct', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='questions', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='sequences', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='ut', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [101]:
from pyspark.sql import Row

In [102]:
extracted_assessments = assessments.rdd.map(lambda x: Row(**json.loads(x.value))).toDF()

In [103]:
extracted_assessments.registerTempTable('assessments')

In [104]:
#i added this cell
print(spark.catalog.listTables())

[Table(name='assessments', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='ct', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='questions', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='sequences', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='ut', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [105]:
spark.sql("select keen_id from assessments limit 10").show()

+--------------------+
|             keen_id|
+--------------------+
|5a6745820eb8ab000...|
|5a674541ab6b0a000...|
|5a67999d3ed3e3000...|
|5a6799694fc7c7000...|
|5a6791e824fccd000...|
|5a67a0b6852c2a000...|
|5a67b627cc80e6000...|
|5a67ac8cb0a5f4000...|
|5a67a9ba060087000...|
|5a67ac54411aed000...|
+--------------------+

In [106]:
spark.sql("select keen_timestamp, sequences.questions[0].user_incomplete from assessments limit 10").show()

+------------------+-------------------------------------------------------+
|    keen_timestamp|sequences[questions] AS `questions`[0][user_incomplete]|
+------------------+-------------------------------------------------------+
| 1516717442.735266|                                                   true|
| 1516717377.639827|                                                  false|
| 1516738973.653394|                                                  false|
|1516738921.1137421|                                                  false|
| 1516737000.212122|                                                  false|
| 1516740790.309757|                                                  false|
|1516746279.3801291|                                                  false|
| 1516743820.305464|                                                  false|
|  1516743098.56811|                                                  false|
| 1516743764.813107|                                                  false|
+------------------+-------------------------------------------------------+

In [107]:
def my_lambda_sequences_id(x):
    raw_dict = json.loads(x.value)
    my_dict = {"keen_id" : raw_dict["keen_id"], "sequences_id" : raw_dict["sequences"]["id"]}
    return Row(**my_dict)

In [108]:
my_sequences = assessments.rdd.map(my_lambda_sequences_id).toDF()

In [109]:
my_sequences.registerTempTable('sequences')

In [110]:
spark.sql("select sequences_id from sequences limit 10").show()

+--------------------+
|        sequences_id|
+--------------------+
|5b28a462-7a3b-42e...|
|5b28a462-7a3b-42e...|
|b370a3aa-bf9e-4c1...|
|b370a3aa-bf9e-4c1...|
|04a192c1-4f5c-4ac...|
|e7110aed-0d08-4cb...|
|5251db24-2a6e-424...|
|066b5326-e547-4da...|
|8ac691f8-8c1a-403...|
|066b5326-e547-4da...|
+--------------------+

In [111]:
spark.sql("select a.keen_id, a.keen_timestamp, s.sequences_id from assessments a join sequences s on a.keen_id = s.keen_id limit 10").show(truncate = False)

+------------------------+------------------+------------------------------------+
|keen_id                 |keen_timestamp    |sequences_id                        |
+------------------------+------------------+------------------------------------+
|5a17a67efa125700015e3164|1511499390.3836269|8ac691f8-8c1a-4033-b2e2-44e165775992|
|5a26ee9cbf5ce1000131c8e9|1512500892.4166169|9bd87823-4508-4e09-a376-8b81bd40f207|
|5a29dcac74b6620001da2dcf|1512692908.8423469|e7110aed-0d08-4cb3-9eca-3eb7caad0256|
|5a2fdab0eabeda0001ad6d97|1513085616.2275269|cd800e92-afc3-4473-a6aa-6cad1aac6be1|
|5a30105020e9d400013db76c|1513099344.8624721|8ac691f8-8c1a-4033-b2e2-44e165775992|
|5a3a6fc3f0a10000019bf958|1513779139.354213 |e7110aed-0d08-4cb3-9eca-3eb7caad0256|
|5a4e17fe08a8920001743e5f|1515067390.1336551|9abd5b51-6bd8-11e6-9f64-a8667f27e5dc|
|5a4f3c69cc6444000130dd2d|1515142249.858722 |083844c5-772f-48df-9a41-8cffd27dcae0|
|5a51b21bd0480b000126ab02|1515303451.773272 |e7110aed-0d08-4cb3-9eca-3eb7caad0256|
|5a575a85329e1a00014113a9|1515674245.348099 |25ca21fe-4dbb-446c-9592-aa6c252c001f|
+------------------------+------------------+------------------------------------+

In [112]:
def my_lambda_questions(x):
    raw_dict = json.loads(x.value)
    my_list = []
    my_count = 0
    for l in raw_dict["sequences"]["questions"]:
        my_count += 1
        my_dict = {"keen_id" : raw_dict["keen_id"], "my_count" : my_count, "id" : l["id"]}
        my_list.append(Row(**my_dict))
    return my_list

In [113]:
my_questions = assessments.rdd.flatMap(my_lambda_questions).toDF()

In [114]:
my_questions.registerTempTable('questions')

In [115]:
spark.sql("select id, my_count from questions limit 10").show(truncate=False)

+------------------------------------+--------+
|id                                  |my_count|
+------------------------------------+--------+
|7a2ed6d3-f492-49b3-b8aa-d080a8aad986|1       |
|bbed4358-999d-4462-9596-bad5173a6ecb|2       |
|e6ad8644-96b1-4617-b37b-a263dded202c|3       |
|95194331-ac43-454e-83de-ea8913067055|4       |
|95194331-ac43-454e-83de-ea8913067055|1       |
|bbed4358-999d-4462-9596-bad5173a6ecb|2       |
|e6ad8644-96b1-4617-b37b-a263dded202c|3       |
|7a2ed6d3-f492-49b3-b8aa-d080a8aad986|4       |
|b9ff2e88-cf9d-4bd4-bcea-c2673779425c|1       |
|bec23e7b-4870-49f7-92c1-1e0a016ef7c9|2       |
+------------------------------------+--------+

In [116]:
spark.sql("select q.keen_id, a.keen_timestamp, q.id from assessments a join questions q on a.keen_id = q.keen_id limit 10").show(truncate=False)

+------------------------+------------------+------------------------------------+
|keen_id                 |keen_timestamp    |id                                  |
+------------------------+------------------+------------------------------------+
|5a17a67efa125700015e3164|1511499390.3836269|803fc93f-7eb2-4121-af8c-ff809e850f10|
|5a17a67efa125700015e3164|1511499390.3836269|f3cb88cc-5b79-41bb-96d3-7ec7d698b964|
|5a17a67efa125700015e3164|1511499390.3836269|32fe7d8d-6d89-4db4-a17a-a368c5ea3ca0|
|5a17a67efa125700015e3164|1511499390.3836269|5c34cf19-8cfd-4f56-91c2-0a109dc990b9|
|5a26ee9cbf5ce1000131c8e9|1512500892.4166169|0603e6f4-c3f9-4c23-8cb3-eb43c68d9113|
|5a26ee9cbf5ce1000131c8e9|1512500892.4166169|26a06b88-2758-45bc-93c5-5e48deebb2ba|
|5a26ee9cbf5ce1000131c8e9|1512500892.4166169|25b6effe-79b0-4c47-83d0-2b5cfd655dd3|
|5a26ee9cbf5ce1000131c8e9|1512500892.4166169|6de03a9b-2a78-46b6-9c47-284477b57f28|
|5a26ee9cbf5ce1000131c8e9|1512500892.4166169|aaf39991-fa83-470f-b0f0-c548ef3a2eba|
|5a26ee9cbf5ce1000131c8e9|1512500892.4166169|aab2e817-73dc-4ff9-8d8b-a258a26e949f|
+------------------------+------------------+------------------------------------+

In [117]:
def my_lambda_correct_total(x):
    
    raw_dict = json.loads(x.value)
    my_list = []
    
    if "sequences" in raw_dict:
        
        if "counts" in raw_dict["sequences"]:
            
            if "correct" in raw_dict["sequences"]["counts"] and "total" in raw_dict["sequences"]["counts"]:
                    
                my_dict = {"correct": raw_dict["sequences"]["counts"]["correct"], 
                           "total": raw_dict["sequences"]["counts"]["total"]}
                my_list.append(Row(**my_dict))
    
    return my_list

In [118]:
my_correct_total = assessments.rdd.flatMap(my_lambda_correct_total).toDF()

In [119]:
my_correct_total.registerTempTable('ct')

In [120]:
spark.sql("select * from ct limit 10").show()

+-------+-----+
|correct|total|
+-------+-----+
|      2|    4|
|      1|    4|
|      3|    4|
|      2|    4|
|      3|    4|
|      5|    5|
|      1|    1|
|      5|    5|
|      4|    4|
|      0|    5|
+-------+-----+

In [121]:
spark.sql("select correct / total as score from ct limit 10").show()

+-----+
|score|
+-----+
|  0.5|
| 0.25|
| 0.75|
|  0.5|
| 0.75|
|  1.0|
|  1.0|
|  1.0|
|  1.0|
|  0.0|
+-----+

In [122]:
spark.sql("select avg(correct / total)*100 as avg_score from ct limit 10").show()

+-----------------+
|        avg_score|
+-----------------+
|62.65699745547047|
+-----------------+

In [123]:
spark.sql("select stddev(correct / total) as standard_deviation from ct limit 10").show()

+-------------------+
| standard_deviation|
+-------------------+
|0.31086692286170553|
+-------------------+

# My code starts here:

## Included Files

### 1. docker-compose.yml

In [124]:
dc = open('docker-compose.yml')
print(dc.read())

---
version: '2'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
    expose:
      - "2181"
      - "2888"
      - "32181"
      - "3888"

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    expose:
      - "9092"
      - "29092"

  cloudera:
    image: midsw205/cdh-minimal:latest
    expose:
      - "8020" # nn
      - "50070" # nn http
      - "8888" # hue
    #ports:
    #- "8888:8888"

  spark:
    image: midsw205/spark-python:0.0.5
    stdin_open: true
    tty: true
    volumes:
      - ~/w205:/w205
    expose:
      - "8888"
    ports:
      - "8888:8888"
    command: bash
    depends_on:
      - cloudera
    environment:
      HADOOP_NAMENODE: cloudera

  mids:
    image: midsw205/base:latest
    stdin_open: true
    tty: true
    volumes:
      - ~/w205:/w205

### 2. history.txt

In [140]:
history = open('jupyter-history.txt')
print(history.read())

    1  ls -la
    2  ls
    3  docker pull midsw205/base
    4  mkdir ~/w205
    5  docker run -it --rm -v ~/w205:/w205 midsw205/base:latest bash
    6  cd ~/w205
    7  ls -l
    8  git clone https://github.com/mids-w205-crook/course-content.git
    9  ls -lk
   10  ls -l
   11  cd course-content/
   12  ls
   13  ls -l
   14  02-Working-with-Data/
   15  cd 02-Working-with-Data/
   16  ls
   17  open async-videos.md
   18  xdg-open async-videos.md
   19  sudo apt xdg
   20  sudo apt xdg-open
   21  cd ~
   22  cd /w205
   23  ls
   24  cd w205
   25  pwd
   26  ls -l
   27  git clone https://github.com/mids-w205-crook/signup-jacob-sycoff.git
   28  ls -l
   29  cd
   30  cd w205
   31  ls
   32  cd signup-jacob-sycoff/
   33  git status
   34  git branch assignment
   35  git status
   36  git checkout assignment
   37  git status
   38  vi README.md
   39  VI README.MD
   40  vi README.md
   41  nano README.md
   42  vi README.md
   43  git status
   44  git add README.md
   45  git status
   46  git commit -m"i made a random edit"
   47  git config --global user.email "jsycoff@berkeley.edu"
   48  git config --global user.name "Jacob Sycoff"
   49  git commit -m"i made a random edit"
   50  git status
   51  git push origin assignment
   52  ls
   53  cd tutorials\
   54  ls
   55  cd ai-platform
   56  ls
   57  xdg-open ai-explanations-image.ipynb
   58  open ai-explanations-image.ipynb
   59  ai-explanations-image.ipynb
   60  cd ai-explanations-image.ipynb
   61  xldg-open
   62  xdlg-open
   63  cd ~
   64  pwd
   65  clear
   66  ipython
   67  jupyter notebook
   68  ls -la
   69  cd w205
   70  ls -la
   71  git clone https://github.com/mids-w205-crook/project-1-jacob-sycoff.git
   72  ls -la
   73  cd project-1-jacob-sycoff
   74  ls -la
   75  open example.ipynb
   76  clear
   77  docker pull midsw205/base
   78  ls -la
   79  pwd
   80  cd ..
   81  curl -L -o annot_fpid.json https://goo.gl/qWiu7d
   82  curl -L -o lp_data.csv https://goo.gl/FDFPYB
   83  jq
   84  head lp_data.csv
   85  tail lp_data.csv
   86  head -n1 lp_data.csv
   87  cat lp_data.csv | wc -l
   88  clear
   89  clear
   90  ls -la
   91  un docker run -it --rm -v ~/w205:/w205 midsw205/base:latest bas
   92  docker run -it --rm -v ~/w205:/w205 midsw205/base:latest bash
   93  pwd
   94  cd ~w205
   95  cd ~/w205
   96  ls -la
   97  cat lp_data.csv | wc -l
   98  cat lp_data.csv | sort
   99  man sort
  100  cat lp_data.csv | sort -g
  101  cat lp_data.csv | sort -n
  102  head annot_fpid.json
  103  cat annot_fpid.json | jq .
  104  cat annot_fpid.json | jq '.[][]'
  105  cat annot_fpid.json | jq '.[][]' -r
  106  cat annot_fpid.json | jq '.[][]' -r | sort
  107  cat annot_fpid.json | jq '.[][]' -r | sort | uniq
  108  cat annot_fpid.json | jq '.[][]' -r | sort | uniq -c
  109  cat annot_fpid.json | jq '.[][]' -r | sort | uniq -c | sort -g
  110  cat annot_fpid.json | jq '.[][]' -r | sort | uniq -c | sort -gr
  111  cat annot_fpid.json | jq '.[][]' -r | sort | uniq -c | sort -gr | head -10
  112  bq
  113  bq query --use_legacy_sql=false 'SELECT count(*) FROM `bigquery-public-data.san_francisco.bikeshare_status`'
  114  bq query --use_legacy_sql=false 'SELECT count(distinct station_id) FROM `bigquery-public-data.san_francisco.bikeshare_status`'
  115  pwd
  116  ls
  117  cd w205
  118  ls
  119  cd project-1-jacob-sycoff
  120  ls
  121  open example.ipynb
  122  jupyter open example.ipynb
  123  git pull project-1-jacob-sycoff
  124  cd ..
  125  git pull project-1-jacob-sycoff
  126  cd ..
  127  ls
  128  git pull w205
  129  git status
  130  cd w205
  131  git status
  132  cd project-1-jacob-sycoff
  133  git status
  134  git pull
  135  ls
  136  xdg-open readme.md
  137  open d
  138  README.md
  139  vi README.md
  140  ls
  141  cd w205
  142  ls -la
  143  cd signup-jacob-sycoff
  144  ls -la
  145  git branch assignment
  146  git checkout assignment
  147  ls
  148  ls -la
  149  git add project-1-jacob-sycoff.ipynb
  150  cd w203
  151  la
  152  ls -la
  153  cd w205
  154  cd project-1-jacob-sycoff/
  155  ls -la
  156  git add project-1-jacob-sycoff
  157  git add project-1-jacob-sycoff.ipynb
  158  git commit -m "I created this file and am adding it to github. I will commit it often"
  159  git push origin assignment
  160  checkout assignment
  161  git checkout assignment
  162  git status
  163  cd ..
  164  get checkout assignment
  165  git checkout assignment
  166  ls -la
  167  cd project-1-jacob-sycoff/
  168  git checkout assignment
  169  git branch assignment
  170  git checkout assignment
  171  git add project-1-jacob-sycoff.ipynb
  172  git commit -m "Trying this again. Hopefully this works and will be my first commit. Commit often!"
  173  git add project-1-jacob-sycoff.ipynb
  174  git commit -m "Trying this again. Hopefully this works and will be my first commit. Commit often!"
  175  git status
  176  git push origin assignment
  177  git add project-1-jacob-sycoff.ipynb
  178  git commit -m "I did questions 1 and 2 of part 1"
  179  git push origin assignment
  180  docker ps
  181  docker images
  182  docker ps -a
  183  docker rm -f reverent driscoll
  184  docker rm -f reverent_driscoll
  185  docker run -it --rm -v ~/w205:/w205 midsw205/base pwd
  186  docker ps -a
  187  docker ps
  188  docker run -it --rm -v ~/w205:/w205 midsw205/base:latest bash
  189  docker run -it -v ~/w205:/w205 midsw205/base:latest bash
  190  docker network -ls
  191  docker network ls
  192  docker network prune
  193  docker pull midsw205/base:latest
  194  docker pull midsw205/base:0.1.8
  195  docker pull midsw205/base:0.1.9
  196  docker pull redis
  197  docker pull confluentinc/cp-zookeeper:latest
  198  docker pull confluentinc/cp-kafka:latest
  199  docker pull midsw205/spark-python:0.0.5
  200  docker pull midsw205/spark-python:0.0.6
  201  docker pull midsw205/cdh-minimal:latest
  202  docker pull midsw205/hadoop:0.0.2
  203  docker pull midsw205/presto:0.0.1
  204  pwd
  205  cd w205
  206  ls
  207  cd project-1-jacob-sycoff/
  208  ls
  209  git add project-1-jacob-sycoff.ipynb
  210  git commit -m " finished part one of the project"
  211  git status
  212  git origin assignment
  213  git push origin assignment
  214  git add project-1-jacob-sycoff.ipynb
  215  git commit -m "Missed a part in section 1 - will be done soon"
  216  git push origin assignment
  217  git add project-1-jacob-sycoff.ipynb
  218  git commit -m "Section one of project 1 actually finished now"
  219  git push origin assignment
  220  cd ..
  221  clear
  222  bq query --use_legacy_sql=false 'SELECT
  223  bq query --use_legacy_sql=false '
  224  select count(*)
  225  FROM bike_trip_data.bikeshare_tri[s
  226  bq query --use_legacy_sql=false '
  227  select count(*)
  228  FROM bike_trip_data.bikeshare_trips'
  229  bq query --use_legacy_sql=false '
  230  SELECT COUNT(*)
  231  FROM bike_trip_data.bikeshare_trips'
  232  docker run -it --rm -v ~/w205:/w205 midsw205/base:latest bash
  233  docker ps
  234  docker ps -a
  235  docker ps
  236  docker ps -a
  237  docker psd
  238  docker ps
  239  docker ps -a
  240  docker ps
  241  docker ps -a
  242  docker rm -f beautiful_kalen
  243  dcoker ps -f beautiful_kalam
  244  docker rm -f beautiful_kalam
  245  docker ps -a
  246  man docker rm
  247  docker ps -a
  248  docker images
  249  docker run -it --rm -v ~/w205:/w205 midsw205/base pwd
  250  ls -la
  251  cd w205
  252  ls -la
  253  cd project-1-jacob-sycoff/
  254  ls
  255  git add project-1-jacob-sycoff.ipynb
  256  git commit -m "For part 1 of the project, I reformatted the aql to make it look nice"
  257  git push origin assignment
  258  ls
  259  ls -la
  260  cd w205
  261  ls -la
  262  project-1-jacob-sycoff/
  263  cd project-1-jacob-sycoff/
  264  ls -la
  265  git checkout assignment
  266  bq query --use_legacy_sql=false'
  267          SELECT COUNT(*)
  268          FROM `bike_trip_data.bikeshare_trips` '
  269  bq query --use_legacy_sql=false'
  270  >         SELECT COUNT(*)
  271  >         FROM `bike_trip_data.bikeshare_trips` '
  272  bq query --use_legacy_sql=false '
  273  >         SELECT COUNT(*)
  274  >         FROM `bike_trip_data.bikeshare_trips` '
  275  bq query --use_legacy_sql=false '
  276  SELECT COUNT(*)
  277  FROM `bike_trip_data.bikeshare_trips` '
  278  bq query --use_legacy_sql=false '
  279  SELECT MIN(start_date), MAX(end_date)
  280  FROM `bike_trip_data.bikeshare_trips`; '
  281  bq query --use_legacy_sql=false '
  282  SELECT SUM(total_bikes)
  283  FROM (SELECT DISTINCT station_id, total_bikes
  284  FROM (SELECT station_id, docks_available, bikes_available, time as date,
  285  (docks_available + bikes_available) as total_bikes
  286  FROM `bike_trip_data.bikeshare_status`
  287  WHERE DATE(time) = '2016-08-31') AS bikes_on_date) AS distinct_station_bikes_on_date; '
  288  bq query --use_legacy_sql=false "
  289   SELECT SUM(total_bikes)
  290  >         FROM (SELECT DISTINCT station_id, total_bikes
  291  >               FROM (SELECT station_id, docks_available, bikes_available, time as date,
  292  >                       (docks_available + bikes_available) as total_bikes
  293  >                     FROM `bike_trip_data.bikeshare_status`
  294  >                     WHERE DATE(time) = '2016-08-31') AS bikes_on_date) AS distinct_station_bikes_on_date; "
  295  bq query --use_legacy_sql=false "
  296          SELECT SUM(total_bikes)
  297          FROM (SELECT DISTINCT station_id, total_bikes
  298                FROM (SELECT station_id, docks_available, bikes_available, time as date,
  299                        (docks_available + bikes_available) as total_bikes
  300                      FROM `bike_trip_data.bikeshare_status`
  301                      WHERE DATE(time) = '2016-08-31') AS bikes_on_date) AS distinct_station_bikes_on_date; "
  302  bq query --use_legacy_sql=false '
  303  SELECT SUM(total_bikes)
  304  FROM (SELECT DISTINCT station_id, total_bikes
  305  FROM (SELECT station_id, docks_available, bikes_available, time as date,
  306  (docks_available + bikes_available) as total_bikes
  307  FROM `bike_trip_data.bikeshare_status`
  308  WHERE DATE(time) = '2016-08-31') AS bikes_on_date) AS distinct_station_bikes_on_date; '
  309  ls -la
  310  cd w205
  311  ls
  312  cd project-1-jacob-sycoff/
  313  git add project-1-jacob-sycoff.ipynb
  314  git commit -m "Working on part two, the fourth question"
  315  git push origin assignment
  316  bq query --use_legacy_sql=false '
  317  > SELECT *
  318  > FROM (SELECT COUNT(*)
  319  >       FROM bike_trip_data.bikeshare_trips
  320  >       WHERE TIME(start_date) < '12:00:00')
  321  >       AS num_morning '
  322  bq query --use_legacy_sql=false '
  323  SELECT *
  324  FROM (SELECT COUNT(*)
  325  FROM bike_trip_data.bikeshare_trips
  326  WHERE TIME(start_date) < "12:00:00")
  327  AS num_morning '
  328  bq query --use_lagacy_sql=false '
  329          SELECT SUM(total_bikes)
  330          FROM (SELECT DISTINCT station_id, total_bikes
  331                FROM (SELECT station_id, docks_available, bikes_available, time as date,
  332                        (docks_available + bikes_available) as total_bikes
  333                      FROM `bike_trip_data.bikeshare_status`
  334                      WHERE DATE(time) = "2016-08-31") AS bikes_on_date) AS distinct_station_bikes_on_date;
  335  '
  336  bq query --use_legacy_sql=false '
  337          SELECT SUM(total_bikes)
  338          FROM (SELECT DISTINCT station_id, total_bikes
  339                FROM (SELECT station_id, docks_available, bikes_available, time as date,
  340                        (docks_available + bikes_available) as total_bikes
  341                      FROM `bike_trip_data.bikeshare_status`
  342                      WHERE DATE(time) = "2016-08-31") AS bikes_on_date) AS distinct_station_bikes_on_date; '
  343  git add project-1-jacob-sycoff.ipynb
  344  git commit -m  " finished with first 4 questions of part 2"
  345  git push origin assignment
  346  sudo chown -R jupyter:jupyter ~/w205
  347  cd ~/w205/course-content
  348  git pull --all
  349  cd
  350  docker ps -a
  351  docker network ls
  352  docker pull midsw205/base:latest
  353  docker pull midsw205/base:0.1.8
  354  docker pull midsw205/base:0.1.9
  355  docker pull redis
  356  docker pull confluentinc/cp-zookeeper:latest
  357  docker pull confluentinc/cp-kafka:latest
  358  docker pull midsw205/spark-python:0.0.5
  359  docker pull midsw205/spark-python:0.0.6
  360  docker pull midsw205/cdh-minimal:latest
  361  docker pull midsw205/hadoop:0.0.2
  362  docker pull midsw205/presto:0.0.1
  363  ls
  364  clear
  365  mkdir ~/w205/kafka
  366  cd ~/w205/kafka
  367  cp ~/w205/course-content/06-Transforming-Data/docker-compose.yml ~/w205/kafka/
  368  docker-compose up -d
  369  docker-compose ps
  370  docker-compose logs zookeeper | grep -i binding
  371  docker-compose logs kafka | grep -i started
  372  docker-compose exec kafka kafka-topics --create --topic foo --partitions 1 --replication-factor 1 --if-not-exists --zookeeper zookeeper:32181
  373  ls
  374  docker ps -a
  375  docker-compose ps
  376  docker-compose exec kafka kafka-topics --describe --topic foo --zookeeper zookeeper:32181
  377  docker-compose exec kafka bash -c "seq 42 | kafka-console-producer --request-required-acks 1 --broker-list localhost:29092 --topic foo && echo 'Produced 42 messages.'"
  378  docker-compose exec kafka kafka-console-consumer --bootstrap-server localhost:29092 --topic foo --from-beginning --max-messages 42
  379  docker-compose down
  380  docker-compose ps
  381  docker ps -a
  382  curl -L -o github-example-large.json https://goo.gl/Y4MD58
  383  docker-compose up -d
  384  docker-compose logs -f kafka
  385  docker-compose down
  386  docker-compose ps
  387  docker ps -a
  388  docker compuse up -d
  389  curl -L -o github-example-large.json https://goo.gl/Y4MD58
  390  docker-compose up -d
  391  docker-compose exec kafka kafka-topics --create --topic foo --partitions 1 --replication-factor 1 --if-not-exists --zookeeper zookeeper:32181
  392  docker-compose exec kafka kafka-topics --describe --topic foo --zookeeper zookeeper:32181
  393  docker-compose exec mids bash -c "cat /w205/kafka/github-example-large.json"
  394  docker-compose exec mids bash -c "cat /w205/kafka/github-example-large.json | jq '.'"
  395  docker-compose exec mids bash -c "cat /w205/kafka/github-example-large.json | jq '.[]' -c"
  396  docker-compose exec mids bash -c "cat /w205/kafka/github-example-large.json | jq '.[]' -c | kafkacat -P -b kafka:29092 -t foo && echo 'Produced 100 messages.'"
  397  docker-compose exec mids bash -c "kafkacat -C -b kafka:29092 -t foo -o beginning -e"
  398  docker-compose exec mids bash -c "kafkacat -C -b kafka:29092 -t foo -o beginning -e" | wc -l
  399  docker-compose down
  400  docker-compose ls
  401  docker-compose ps
  402  docker ps -a
  403  cd
  404  ls
  405  cd w205
  406  ls
  407  git clone https://github.com/mids-w205-crook/project-2-jacob-sycoff.git
  408  ls
  409  cd project-2-jacob-sycoff/
  410  ls
  411  git branch assignment
  412  git checkout assignment
  413  git status
  414  ls
  415  curl -L -o assessment-attempts-20180128-121051-nested.json https://goo.gl/ME6hjp
  416  ls -lh
  417  ls -la
  418  ls -lh
  419  cat assessment-attempts-20180128-121051-nested.json
  420  ls -lh
  421  docker compose down
  422  docker-compose down
  423  docker-compose ps
  424  ls
  425  clear
  426  ls
  427  cd w205/kafka
  428  ls
  429  docker-compose logs -f kafka
  430  cd
  431  cd w205
  432  clear
  433  bq query --use_legacy_sql=false '
  434  SELECT morning_trips/total_days as avg_morning_trips_per_day, afternoon_trips/total_days as avg_afternoon_trips_per_day
  435  FROM (SELECT COUNT(*) as morning_trips
  436        FROM bike_trip_data.bikeshare_trips
  437        WHERE (TIME(start_date) < "12:00:00")),
  438
  439        (SELECT COUNT(*) as afternoon_trips
  440        FROM bike_trip_data.bikeshare_trips
  441        WHERE (TIME(start_date) >= "12:00:00")),
  442
  443        (SELECT COUNT(*) AS total_days
  444         FROM (SELECT DISTINCT DATE(start_date)
  445               FROM bike_trip_data.bikeshare_trips))
  446
  447  '
  448  ls
  449  cd project-1-jacob-sycoff/
  450  git add project-1-jacob-sycoff.ipynb
  451  git commit -m "done with part 1 of section 2"
  452  git push origin assignment
  453  ls
  454  cd w205
  455  cd project-1-jacob-sycoff/
  456  git add project-1-jacob-sycoff.ipynb
  457  git commit -m "Working on last questions of section 2"
  458  git push origin assignment
  459  bq query --use_legacy_sql=false '
  460              SELECT start_station_name, COUNT(start_station_name) as num_trips_begun_here_in_2015
  461              FROM (SELECT *
  462                    FROM bike_trip_data.better_trips
  463                    WHERE (year = 2015))
  464              GROUP BY start_station_name
  465              ORDER BY num_trips_begun_here_in_2015 DESC
  466              LIMIT 10; '
  467  bq query --use_legacy_sql=false '
  468  +-----------------------------------------------+------------------------------+
  469  |              start_station_name               | num_trips_begun_here_in_2015 |
  470  +-----------------------------------------------+------------------------------+
  471  | San Francisco Caltrain (Townsend at 4th)      |                        24827 |
  472  | San Francisco Caltrain 2 (330 Townsend)       |                        22274 |
  473  | Harry Bridges Plaza (Ferry Building)          |                        17344 |
  474  | Temporary Transbay Terminal (Howard at Beale) |                        14668 |
  475  | Steuart at Market                             |                        14577 |
  476  | Embarcadero at Sansome                        |                        14352 |
  477  | 2nd at Townsend                               |                        13762 |
  478  | Townsend at 7th                               |                        13695 |
  479  | Market at Sansome                             |                        11301 |
  480  | Market at 10th                                |                        11049 |
  481  '
  482  bq query --use_legacy_sql=false '
  483              SELECT end_station_name, COUNT(end_station_name) as num_trips_ended_here_in_2015
  484              FROM (SELECT *
  485                    FROM bike_trip_data.better_trips
  486                    WHERE (year = 2015))
  487              GROUP BY start_station_name
  488              ORDER BY num_trips_ended_here_in_2015 DESC
  489              LIMIT 10; '
  490  bq query --use_legacy_sql=false '
  491              SELECT start_station_name, end_station_name, COUNT(trip_name) AS num_trips_in_2015,
  492              FROM (SELECT *, CONCAT(start_station_name, end_station_name) as trip_name
  493                    FROM bike_trip_data.better_trips
  494                    WHERE (year = 2015))
  495              GROUP BY trip_name, start_station_name, end_station_name
  496              ORDER BY num_trips_in_2015 DESC
  497              LIMIT 10; '
  498  bq query --use_legacy_sql=false '
  499              SELECT start_station_name, end_station_name, COUNT(trip_name) AS num_trips_in_2015,
  500              FROM (SELECT *, CONCAT(start_station_name, end_station_name) as trip_name
  501                    FROM bike_trip_data.better_trips)
  502              GROUP BY trip_name, start_station_name, end_station_name
  503              ORDER BY num_trips_in_2015 DESC
  504              LIMIT 10; '
  505  git add project-1-jacob-sycoff.ipynb
  506  git commit -m "almost done w p2"
  507  git push origin assignment
  508  bq query --use_legacy_sql=false '
  509              SELECT start_station_name, end_station_name, COUNT(trip_name) AS num_trips,

## The set up process:

#### 1) command to bring up the cluster
```bash
docker-compose up -d
```
###### a) check open docker-compose containers
```bash
    docker-compose ps
```
###### b) check open docker containers
```bash
    docker ps -a
```

#### 2) command to create the kafka topic with a meaningful name (most students choose assessments)
```bash
docker-compose exec kafka kafka-topics --create --topic assessments --partitions 1 --replication-factor 1 --if-not-exists --zookeeper zookeeper:32181

docker-compose exec kafka kafka-topics --describe --topic assessments --zookeeper zookeeper:32181
```

#### 3) command to publish the assessments json data to the kafka topic using kafkacat
```bash
docker-compose exec mids bash -c "cat /w205/project-2-jacob-sycoff/assessment-attempts-20180128-121051-nested.json | jq '.[]' -c | kafkacat -P -b kafka:29092 -t assessments && echo 'Published assessments json data to kafka topic using kafkacat.'"

docker-compose exec mids bash -c "kafkacat -C -b kafka:29092 -t assessments -o beginning -e"
```

#### 4) command to shutdown the cluster

```spark
exit
```

### Bringing up jupyter

#### 1) Enter spark bash:
```bash
docker-compose exec spark bash
```
#####  a) In spark bash, link w205 with w205:
```spark
    ln -s /w205 w205
```
##### b) Exit spark bash:
```spark
exit
```

#### 2) Create Jupyter environment:
```bash
docker-compose exec spark env PYSPARK_DRIVER_PYTHON=jupyter PYSPARK_DRIVER_PYTHON_OPTS='notebook --no-browser --port 8888 --ip 0.0.0.0 --allow-root' pyspark
```

#### 3) Change 0.0.0.0 in resulting link to external IP address in google cloud, then paste into an incognito Google Chrome window to minimize chances of errors. Jupyter notebook will come up and pyspark will work within it.

## Analysis Begins Here:

#### 1) How many assessments are in the dataset?

In [154]:
num_assessments = spark.sql("select count(*) from (select sequences_id from sequences)").show()

+--------+
|count(1)|
+--------+
|    3280|
+--------+

There are 3280 assessments in the dataset

#### 2) What's the name of your Kafka topic? How did you come up with that name?

The name of my Kafka topic is assessments because of the contents of the information within the dataset - infomration from a service that delivers assessments

#### 3) How many people took Learning Git?

In [127]:
spark.sql("select count from (select exam_name, count(*) as count from(select exam_name from assessments) group by exam_name) where exam_name='Learning Git' ").show(truncate = False)

+-----+
|count|
+-----+
|394  |
+-----+

394 people took "Learning Git"

#### 4) What is the least common course taken?

In [128]:
spark.sql("select exam_name from(select exam_name, count(*) as count from(select exam_name from assessments) group by exam_name order by count asc) limit 4 ").show(truncate = False)

+-------------------------------------------------+
|exam_name                                        |
+-------------------------------------------------+
|Native Web Apps for Android                      |
|Learning to Visualize Data with D3.js            |
|Nulls, Three-valued Logic and Missing Information|
|Operating Red Hat Enterprise Linux Servers       |
+-------------------------------------------------+

The four above courses all are the least common with only 1 participant

#### 5? What is the most common course taken?

In [129]:
spark.sql("select exam_name from(select exam_name, count(*) as count from(select exam_name from assessments) group by exam_name order by count desc) limit 1").show(truncate = False)

+------------+
|exam_name   |
+------------+
|Learning Git|
+------------+

## Additional Questions:

#### 1) Has the number of tests taken increased over time?

In [130]:
spark.sql("select year_month, count(*) from(select started_at, substring(started_at, 0, 7)as year_month from assessments order by year_month asc) group by year_month").show(truncate = False)

+----------+--------+
|year_month|count(1)|
+----------+--------+
|2017-11   |521     |
|2017-12   |1516    |
|2018-01   |1243    |
+----------+--------+

The tests taken over time increased and then decreased, but the information is not useful because there is only data present from 3 months. It is therefore my reccomendation to collect and store data consistently for every test given every month

#### 2) Are there more certification or non-certification exams?

In [131]:
spark.sql("select certification, count(*) as count from(select certification from assessments) group by certification").show(truncate = False)

+-------------+-----+
|certification|count|
+-------------+-----+
|null         |132  |
|false        |3148 |
+-------------+-----+

The only value given for certification is false, while a small subset have a null value for certification.  This bring into question the reason for the collection of this data. Should the company remove this field? Does the company have a potential opportunity to bringing in business for certification exams?

#### 3) What percent of tests were left at least 25% unanswered or incomplete?

In [132]:
#I create the function that will allow me to create a table with columns showing unanswered and total questions per test, apply it, and analyze the resulting table

In [133]:
def my_lambda_unanswered_total(x):
    
    raw_dict = json.loads(x.value)
    my_list = []
    
    if "sequences" in raw_dict:
        
        if "counts" in raw_dict["sequences"]:
            
            if "unanswered" in raw_dict["sequences"]["counts"] and "total" in raw_dict["sequences"]["counts"] and "incomplete" in raw_dict["sequences"]["counts"]:
                                    
                my_dict = {"unanswered": raw_dict["sequences"]["counts"]["unanswered"], 
                           "incomplete": raw_dict["sequences"]["counts"]["incomplete"],
                           "total": raw_dict["sequences"]["counts"]["total"]}
                my_list.append(Row(**my_dict))
    
    return my_list

In [147]:
my_unanswered_total = assessments.rdd.flatMap(my_lambda_unanswered_total).toDF()

In [148]:
my_unanswered_total.registerTempTable('ut')

In [149]:
spark.sql("select count(*)/(select count(*) from ut) as pct_25_or_more_pct_not_done from (select pct_not_done from (select *, unanswered_incomplete/total as pct_not_done from(select unanswered, incomplete,unanswered + incomplete as unanswered_incomplete, total from ut)) where pct_not_done >=.25)").show()

+---------------------------+
|pct_25_or_more_pct_not_done|
+---------------------------+
|        0.27541984732824426|
+---------------------------+

In [150]:
my_unanswered_total.write.mode('overwrite').parquet("/tmp/my_unanswered_total")

In [151]:
ut = spark.read.parquet("/tmp/my_unanswered_total")

In [152]:
ut.createOrReplaceTempView("ut")

In [153]:
ut = spark.sql("select count(*)/(select count(*) from ut) as pct_25_or_more_pct_not_done from (select pct_not_done from (select *, unanswered_incomplete/total as pct_not_done from(select unanswered, incomplete,unanswered + incomplete as unanswered_incomplete, total from ut)) where pct_not_done >=.25)").show()

+---------------------------+
|pct_25_or_more_pct_not_done|
+---------------------------+
|        0.27541984732824426|
+---------------------------+

About 28% of tests have at least 25% of their questions left incomplete or unanswered